// out: ../style.css, sourcemap: true, compress: false

/*!
Theme Name: The Baloof - A Lotion Starlord Website
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here... */

$black = #000
$grey = grey
$white = #fff
$red = #DC002A
$blue = #428BCA

footer *
  position relative

.position-abs
  position absolute
  &.top
    top 0
  &.bottom
    bottom 0
  &.right
    right 0
  &.left
    left 0

.btn
  &.btn-square
    border-radius 0
  &.btn-rounded
    border-radius 4
  &.btn-hollow
    margin-top 4px
    margin-bottom 0px
    background transparent
    border 3px solid $black
    color $black
    -webkit-box-shadow 0px 0px 0px 0px rgba(0,0,0,0)
    -moz-box-shadow 0px 0px 0px 0px rgba(0,0,0,0)
    box-shadow 0px 0px 0px 0px rgba(0,0,0,0)
    transition all .25s ease
    &:hover
      margin-top 0px
      margin-bottom 4px
      background $black
      color $white
      -webkit-box-shadow 0px 11px 12px -8px rgba(0,0,0,0.75)
      -moz-box-shadow 0px 11px 12px -8px rgba(0,0,0,0.75)
      box-shadow 0px 11px 12px -8px rgba(0,0,0,0.75)
    &.btn-red
      border-color $red
      color $red
      &:hover
        background $red
        color $white
    &.btn-blue
      border-color $blue
      color $blue
      &:hover
        background $blue
        color $white

.fl-page-header .fl-logo-img
  margin-bottom 5px

.fl-page-header.fl-shrink-header .fl-logo-img
  margin-bottom 3px

.instagram-background a.fl-button
  background url('assets/instagram-background.jpg')
  background-size cover
  background-position 100% 65%
  border 0
  &:hover,&:focus,&:active
    background url('assets/instagram-background.jpg')
    background-size cover
    background-position 100% 65%
    border 0
